@here:registry=https://repo.platform.here.com/artifactory/api/npm/here-node/
//repo.platform.here.access.key.id = eZNGY485VvuLV1PU9TNpCg
//repo.platform.here.access.key.secret = bfFTz8lQ2OO9v82BPgrW_Nrc_fdLW9a6idHdemzNO8EYkwV64uFNvHv1ZGEyUJwTkzY9sFVDjf4U4j5OqAFOHQ